@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--color-orange-50);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-bree-serif), ui-serif, Georgia, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-orange-50);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.green-gradient {
  background: linear-gradient(to bottom, #34c759, #14ae5c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gray-gradient {
  background: linear-gradient(to bottom, #757575, #5a5a5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.red-gradient {
  background: linear-gradient(to bottom, #ef4444, #dc2626);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
